# --- FASTAPI / PYTHON ---
# Entorno virtual y dependencias
.venv/
venv/
ENV/
__pycache__/
*.pyc

# Archivos de configuración local y variables de entorno
.env
.env.local


# --- REACT / JAVASCRIPT ---
# Dependencias de Node
node_modules/
/jspm_packages

# Carpetas de producción / compilación
dist/
build/
.next/
out/

# Logs de error de npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# --- SISTEMA OPERATIVO Y EDITORES ---
.DS_Store
Thumbs.db
.vscode/
.idea/
